* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #e0e9fc;
}

.container {
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;

}

.header-list {
    display: flex;
    gap: 40px;
    align-items: center;
}


header {
    margin-top: 40px;
}

.btn {
    width: 173px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #BA4270;
    color: #fff;

}

a:hover {
    border: solid 2px #36536B;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    font-size: 24px;
    transition: 300ms ease all;
}

a {
    transition: 300ms ease all;
    color: #36536B;
}

p {
    transition: 300ms ease all;
    color: #36536B;
}

.burger {
    display: none;
}

.nainn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.telefon {
    width: 40%;
}

.main-item {
    font-size: 72px;
    font-family: DM Serif Display;
    color: #36536B;
}

.main-section-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

h2 {
    font-size: 48px;
    margin-bottom: 24px;
    color: #36536B;
}

.right-card {
    width: 445px;
}

.main-section-2-img{
    width: 80%;
}

.main-section-3{
    display: flex;
    justify-content: center;
    gap: 281px;
    text-align: center;
    margin-top: 30px;
}

.footer-main{
    display: flex;
    gap: 30px;
}

.footer-main-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    color: #fff;
    align-items: center;
    gap: 40px;
}

footer{
    background: #1B262F;
    padding: 16px 0;
    margin-top: 30px;
}




@media only screen and (max-width:706px) {
    .header-list{
        display: flex;
        gap: 40px;
        align-items: center;
        display: none;
    }

    .burger {
        display: block;
    }

    .main-item {
        font-size: 32px;
        font-family: DM Serif Display;
        color: #36536B;
    }

    .nainn {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: space-between;
    }

    .telefon {
        width: 50%;
    }

    .main-section-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    h2{
        font-size: 36px;
    }

    .main-section-2-img{
        width: 80%;
    }
    

    .main-section-3{
        display: flex;
        justify-content: center;
        gap: 48px;
        text-align: center;
        margin-top: 30px;
        flex-direction: column;
    }

    .footer-main-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

    }

    footer{
        background: #1B262F;
        padding: 16px 0;
        margin-top: 30px;
        flex-direction: column;
    }

    ul{
        display: flex;
        color: #fff;
        align-items: center;
        gap: 40px;
            flex-direction: column;
    }
    
    .footer-main{
        display: flex;
        gap: 30px;
        margin-top: 20px;
    }
    

}